@model Orneholm.RadioText.Web.Models.HomeIndexViewModel

<div class="rt-content">

    <div class="card my-5">
        <div class="card-body">
            <form>
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search..." asp-for="@Model.SearchQuery" name="query" />
                </div>
            </form>
        </div>
    </div>

    <div>
        @foreach (var episode in Model.Episodes)
        {
            <div class="card mb-3 rt-episode-list-item">
                <div class="row no-gutters">
                    <div class="col-md-5 col-lg-4">
                        <a asp-action="Details" asp-route-id="@episode.EpisodeId" style="display: block; height: 100%; min-height: 250px; width: 100%; background: url('@episode.ImageUrl') center center; background-size: cover;">
                            &nbsp;
                        </a>
                    </div>
                    <div class="col-md-7 col-lg-8 d-flex flex-column">
                        <div class="card-body">
                            <h5 class="card-title">@episode.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@episode.ProgramName - @episode.PublishDateUtc</h6>
                            <p class="card-text rt-episode-list-transcription">
                                @episode.Transcription
                            </p>
                        </div>

                        <div class="card-footer text-center">
                            <a class="btn btn-primary btn-block" asp-action="Details" asp-route-id="@episode.EpisodeId">
                                See enriched info
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
